<nav>
    <div class="logo">
        <img src="../../../assets/images/f1logo.png">
    </div>
    <ul>
        <li>
            <a routerLink="/">Home</a>
        </li>
        <li>|</li>
        <li>
            <a routerLink="/Stats">Stats</a>
        </li>
        <li>
            <a routerLink="/Circuits">Circuits</a>
        </li>
        <li>|</li>
        <li>
            <a routerLink="/DriverStandings">2024 Standings</a>
        </li>
        <li>
            <a routerLink="/Calendar">2024 Calendar</a>
        </li>
    </ul>
    <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</nav>
<script src="scripts/scriptIndex.js"></script>