<div class="container">
    <h1>Drivers with Most Pole Positions</h1>
    <table class="table">
        <thead>
            <tr style="color:black; font-size: large; font-weight: bold;">
                <th>#</th>
                <th>Driver Name</th>
                <th>Nationality</th>
                <th>Poles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let driver of drivers; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ driver.name }}</td>
                <td>{{ driver.nationality }}</td>
                <td>{{ driver.poles }}</td>
            </tr>
        </tbody>
    </table>
</div>
