<body>
    <div class="container mt-5">
        <h2 style="text-align: center; margin-top: 95px; font-weight: bolder; font-size: xxx-large;">STATS</h2>
        <div class="card-wrapper">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Schumacher_china_2012_crop.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <a routerLink="/Champions" class="btn stretched-link">Championships</a>
                </div>
            </div>
            <div class="card">
                <img src="https://fotografias.larazon.es/clipping/cmsimages02/2022/02/05/6A17C905-0917-4831-BDF4-B122E14EA849/98.jpg?crop=5533,3113,x0,y287&width=1900&height=1069&optimize=low&format=webply" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <a routerLink="/Winners" class="btn stretched-link">Wins</a>
                </div>
            </div>
            <div class="card">
                <img src="https://fotografias.lasexta.com/clipping/cmsimages01/2024/04/22/A53B72AF-8FD8-46C9-8EDE-22606EFF2676/fernando-alonso-sonriente_98.jpg?crop=1200,675,x0,y0&width=1900&height=1069&optimize=low&format=webply" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <a routerLink="/Polesitters" class="btn stretched-link">Poles</a>
                </div>
            </div>
            <div class="card">
                <img src="https://sportsbase.io/images/gpfans/copy_1200x800/611e84024f4ef9899d24ec731baa95c3ab82b664.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <a routerLink="/Podiums" class="btn stretched-link">Podiums</a>
                </div>
            </div>
        </div>
    </div>
</body>