.container {
    margin-top: 75px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #ff0000;
    text-align: left;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.a{
    text-align : center;
    object-fit: cover;
}

.card img {
    height: 250px;
    object-fit: cover;
}

.card-body {
    background-color: dodgerblue;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.card-wrapper {
    display: flex;
    justify-content: space-around; /* Ajusta el espacio entre las tarjetas */
    flex-wrap: wrap; /* Envuelve las tarjetas si el espacio es insuficiente */
}
.card {
    width: 250px; /* Ancho deseado para cada tarjeta */
    margin-bottom: 5px; /* Espacio entre tarjetas */
}
